<% provide(:title, "Editar Parceiro") %> 
<h1>Editar dados de Parceiro</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@partner) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <small><p align="right"> <span style="color: red;">vermelho</span> : Campos obrigatórios</p><br/></small>

      <div class="personal-info">
          <h2>Dados Pessoais</h2>
          <label>Nome <span style="color: red;">*</span></label>
          <%= f.text_field :name %>

          <label>Gênero <span style="color: red;">*</span></label>
          <%= f.select :gender, options_for_select(["Homem", "Mulher"]) %>
          
          <label>Data de Nascimento (<span style="color: red;">dd/mm/aaaa</span>)</label>
          <%= f.text_field :birth_date, :value => (@partner.birth_date.blank? ? '' : @partner.birth_date.strftime('%d/%m/%Y')) %>
      </div>

      <div class="contact-info">
          <h2>Contato</h2>
          <label>E-mail <span style="color: red;">*</span></label>
          <%= f.text_field :email %>
      
          <%= f.label 'Telefone 1' %>
          <%= f.text_field :fone1 %>
          
          <%= f.label 'Telefone 2' %>
          <%= f.text_field :fone2 %>

          <h2>Endereço</h2>
          <label>Logradouro <span style="color: red;">*</span></label>
          <%= f.text_field :street %>
      
          <label>Número <span style="color: red;">*</span></label>
          <%= f.text_field :number %>

          <label>Bairro <span style="color: red;">*</span></label>
          <%= f.text_field :hood %>
          
          <label>CEP (Formato: <span style="color: red;">28035581</span>)
          | <small><a href="http://www.buscacep.correios.com.br/" target="_blank">
            Procurar CEP
            </small></a>
          </label>
          <%= f.text_field :cep %>
          
      </div>

      <%= f.submit "Atualizar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
