<% provide(:title, 'Cadastrar Parceiro') %>
<h1>Cadastrar Parceiro</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@partner) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label "Nome" %>
      <%= f.text_field :name %>

      <%= f.label "E-mail" %>
      <%= f.text_field :email %>

      <%= f.label "Rua/Avenida" %>
      <%= f.text_field :street %>
      
      <%= f.label "Número" %>
      <%= f.text_field :number %>
      
      <%= f.label "Bairro" %>
      <%= f.text_field :hood %>
      
      <%= f.label "CEP" %>
      <%= f.text_field :cep %>
      
      <%= f.label "Gênero" %>
      <%= f.select :gender, options_for_select(["Homem", "Mulher"]) %>
      
      <%= f.label "Data de nascimento" %>
      <%= date_select :partner, :birth_date, :include_blank => true,
                      :start_year => Date.current.year-116,
                      :end_year => 1995 %>
      
      <%= f.label 'Telefone 1' %>
      <%= f.text_field :fone1 %>
      
      <%= f.label 'Telefone 2' %>
      <%= f.text_field :fone2 %>

      <%= f.submit "Cadastrar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
