<% provide(:title, 'Cadastrar Colaborador') %>
<h1>Cadastrar Colaborador</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@collaborator) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label "Nome" %>
      <%= f.text_field :name %>

      <%= f.label "E-mail" %>
      <%= f.text_field :email %>

      <%= f.label "Logradouro" %>
      <%= f.text_field :street %>
      
      <%= f.label "Número" %>
      <%= f.text_field :number %>
      
      <%= f.label "Bairro" %>
      <%= f.text_field :hood %>
      
      <%= f.label "CEP" %>
      <%= f.text_field :cep %> <small><a href="http://www.buscacep.correios.com
                                               .br/">Procurar CEP</a></small>
      
      <%= f.label "Gênero" %>
      <%= f.select :gender, options_for_select(["Homem", "Mulher"]) %>
      
      <%= f.label "Data de nascimento" %>
      <%= f.text_field :birth_date %>
      
      <%= f.label 'Telefone 1' %>
      <%= f.text_field :fone1 %>
      
      <%= f.label 'Telefone 2' %>
      <%= f.text_field :fone2 %>

      <%= f.label "Senha" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmação" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Cadastrar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
