<% provide(:title, @collaborator.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @collaborator %>
        <%= @collaborator.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @collaborator.partners.any? %>
      <h3>Colaboradores (<%= @collaborator.partners.count %>)</h3>
      <ol class="partners">
        <%= render @partners %>
      </ol>
      <%= will_paginate @partners %>
    <% end %>
  </div>
</div>
