<% provide(:title, @collaborator.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @collaborator %>
      </h1>
    </section>
    <section>
      <% @other_collaborators.each do |oc| %>
        <p><%= oc.name %> (<%=oc.partners.count %>)</p>
      <% end %>
    </section>
  </aside>

  <div class="span8">
    <h1><%= @collaborator.name %> </h1>
      <% if current_user? @collaborator %>
        <p align="right"><small>
            <%= link_to "Editar Perfil", edit_collaborator_path(@collaborator) %>
        </small></p>
      <% end %>
    <p align="right"><small><%= @collaborator.gender %>
    <% if @collaborator.birth_date? %>
    ,nascido(a) em 
              <%= @collaborator.birth_date.day %>/
              <%= @collaborator.birth_date.month %>/
              <%= @collaborator.birth_date.year %>.</small></p>
    <% end %>

    <h2>Perfil</h2>

    <h3>Informações de Contato</h3>
    <p>Endereço: <%= @collaborator.street %>, <%= @collaborator.number %><br/>
    <%= @collaborator.hood %>, CEP: <%= @collaborator.cep %></p>

    <p>Telefone 1: <%= @collaborator.fone1 %><br/>
    <% if @collaborator.fone2? %>
      Telefone 2: <%= @collaborator.fone2 %>
    <% end %>
    </p>
    <p>Email: <%= @collaborator.email %></p>
    
    <hr/>
    <% if @collaborator.partners.any? %>
      <h3>Parceiros (<%= @collaborator.partners.count %>)</h3>
      <ol class="partners">
        <%= render @partners %>
      </ol>
      <%= will_paginate @partners %>
    <% else %>
      <h3>Esse colaborador ainda não cadastrou nenhum parceiro!</h3>
    <% end %>
  </div>
</div>
